{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import font poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,700&display=swap" rel="stylesheet">
    <!-- import font lobster -->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
    <link rel="stylesheet" href='{% static "project_details.css" %}'>
    <title>Imagine powertree</title>
</head>
<body>
    <div class="navbar">
        <div class="Logo"><img src='{% static "images/1.png" %}' alt=""></div>
        <div class="content">
            <p>Our Products</p>
            <p>For Commercial</p>
            <p>Our Projects</p>
            <p>Blogs</p>
            <p>About us</p>
        </div>
    </div>
    <div class="content">
        <div class="left_image">
            <img src="{{ project.image.url }}" alt="" srcset="">
            <div class="specs">
                {% if project.location != None and project.location != " " %}
                    <div class="location"> <span>location :</span> {{ project.location }}</div>
                {% endif %}
                {% if count != 0 %}
                <div class="items_used"> 
                    <span>products used:</span> 
                    {% for product in products %}
                        {{ product.products_id }} : {{ product.quantity }}<br>
                    {% endfor %}
                </div>
                {% endif %}
                {% if project.year_of_project != None and project.year_of_project != " " %}
                    <div class="year"> <span>Year of project:</span>{{ project.year_of_project }} </div>
                {% endif %}
            </div>
        </div>
        <div class="right_content">
            <div class="title"> {{ project.project_name}}</div>
            <div class="details">
                {{project.desc}}
            </div>
        </div>
    </div>
</body>
</html>
<script src="{% static 'project_details.js' %}"></script>