/* universal tag */
*{
    font-family: 'Poppins';
    font-size: 18px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* body tag */
body{
    display: inline;
}
a{
    text-decoration: none;
    color: inherit;
}
a:visited{
    text-decoration: none;
}
/* navbar -> { logo-> img , content } 
    content -> { p , navright }
    navright -> { phone , contact}*/
    .navbar{
        position: fixed;
        width: 100%;
        height: 10%;
        display: flex;
        z-index: 2;
        justify-content: space-between;
        overflow: hidden;
        background-color: #ffffff;
    }
    .navbar .Logo{
        width: 5%;
        margin-left: 10px;
    }
    .navbar .Logo img{
        width: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .navbar .content{
        position: absolute;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .navbar .content .navlink{
        transition: all 0.2s ease;
    }
    .navbar .content .navlink:hover{
        border-bottom: 2px solid #FF9900;
    }
    .navbar .content .navlink:hover p{
        transform: translateY(-20px);
    }
    .navbar .content p{
        display: inline;
        margin-left: 20px;
    }

/*  */

.page1{
    width: 100%;
    position: absolute;
    top: 10%;
}
.page1 .title{
    text-align: center;
    font-size: 40px;
    font-family: 'lobster';
}
.page1 .image{
    width: 100%;
    overflow: hidden;
}
.page1 .image img{
    width: 100%;
    height: 460px;
    object-fit: scale-down;
    margin-top: 10px;
}
.page1 .desc{
    text-align: center;
    margin-top: 20px ;
}
.sidemenu{
    width: 100%;
    height: 90%;
    top: 10%;
    position: fixed;
    background-color: #FF9900;
    z-index: 100;
    transform: translateX(100%);
}
.sidemenu .content{
    width: 100%;
    text-align: center;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.sidemenu .content .navlink {
    margin-top: 10px;
    margin-bottom: 10px;
}
.sidemenu .content .navlink a{
    font-size: 30px;
    color: #ffffff;
}
.sidemenu hr{
    border: 2px solid white;
}
.sidemenu .menufooter{
    height: 30%;
    overflow: hidden;
}
.sidemenu .stuff{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
.sidemenu .stuff svg{
    width: 25px;
}
.sidemenu .left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
}
.sidemenu .left .phone{
    height: 50%;
}
.sidemenu .left .phone p{
    font-weight: 500;
    color: #ffffff;
}
.sidemenu .left .email{
    height: 40%;
}
.sidemenu .left .email p{
    font-weight: 500;
    color: #ffffff;
}
.sidemenu .right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.sidemenu .right .contact{
    height: 50%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 0%;
    padding-bottom: 0%;
}
.sidemenu .right .social{
    height: 40%;
    color: #ffffff;
    text-align: center;
}
.sidemenu .right .social .media{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sidemenu .right .social .media a svg{
    opacity: 60%;
}
@media screen and (max-width:1000px) {
    *{
        font-size: 16px;
    }
    .navbar{
        width: 100%;
    }
    .navbar .content{
        width: 10%;
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    .navbar .slider{
        width: 50px;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .navbar .slider svg{
        width: 30px;
        height: 30px;
        fill: #FF9900;
    }
    .page1 .image img{
        height: auto;
    }
    .page1{
        min-height:90%;
    }

}