/* universal tag */
*{
    font-family: 'Poppins';
    font-size: 18px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* body tag */
body{
    display: inline;
}
a{
    text-decoration: none;
    color: inherit;
}
a:visited{
    text-decoration: none;
}
/* navbar -> { logo-> img , content } 
    content -> { p , navright }
    navright -> { phone , contact}*/
    .navbar{
        position: fixed;
        width: 100%;
        height: 10%;
        display: flex;
        z-index: 2;
        justify-content: space-between;
        overflow: hidden;
        background-color: #ffffff;
    }
    .navbar .Logo{
        width: 5%;
        margin-left: 10px;
    }
    .navbar .Logo img{
        width: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .navbar .content{
        position: absolute;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .navbar .content .navlink{
        transition: all 0.2s ease;
    }
    .navbar .content .navlink:hover{
        border-bottom: 2px solid #FF9900;
    }
    .navbar .content .navlink:hover p{
        transform: translateY(-20px);
    }
    .navbar .content p{
        display: inline;
        margin-left: 20px;
    }

/*  */

.page1{
    width: 100%;
    position: absolute;
    top: 10%;
}
.page1 .title{
    text-align: center;
    font-size: 40px;
    font-family: 'lobster';
}
.page1 .image{
    width: 100%;
    overflow: hidden;
}
.page1 .image img{
    width: 100%;
    height: 460px;
    object-fit: scale-down;
    margin-top: 10px;
}
.page1 .desc{
    text-align: center;
    margin-top: 20px ;
}
@media screen and (max-width:1000px) {
    *{
        font-size: 16px;
    }
    .navbar{
        width: 100%;
    }
    .navbar .content{
        width: 10%;
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    .navbar .slider{
        width: 50px;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .navbar .slider svg{
        width: 30px;
        height: 30px;
        fill: #FF9900;
    }
    .page1 .image img{
        height: auto;
    }
    .page1{
        min-height:90%;
    }

}