/* universal tag */
*{
    font-family: 'Poppins';
    font-size: 18px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
}
a:visited{
    text-decoration: none;
}
/* navbar -> { logo-> img , content } 
    content -> { p , navright }
    navright -> { phone , contact}*/
    .navbar{
        position: fixed;
        width: 100%;
        height: 10%;
        display: flex;
        z-index: 2;
        justify-content: space-between;
        overflow: hidden;
        background-color: #ffffff;
    }
    .navbar .Logo{
        width: 5%;
        margin-left: 10px;
    }
    .navbar .Logo img{
        width: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .navbar .content{
        position: absolute;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .navbar .content .navlink{
        transition: all 0.2s ease;
    }
    .navbar .content .navlink:hover{
        border-bottom: 2px solid #FF9900;
    }
    .navbar .content .navlink:hover p{
        transform: translateY(-20px);
    }
    .navbar .content p{
        display: inline;
        margin-left: 20px;
    }

/* page 1 for title, image and button to page 2 */
.page1{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
    overflow: hidden;
}
.page1 .image{
    width: 100%;
}
.page1 .image img{
    width: 100%;
}
.page1 .image .blur{
    top: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.6);
    backdrop-filter: blur(3px);
}
.page1 .text{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: #ffffff;
}
.page1 .text .title{
    color: #FF9900;
    font-family: 'lobster';
    font-size: 40px;
}
.page1 .text .desc{
    font-weight: 200;
}
.page1 button{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #FF9900;
    float: right;
    margin-right: 15%;
}
.page1 button svg{
    fill: #FF9900;
    padding: 20%;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

/* all image in a slideshow format */
.page2{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 90%;
    overflow: hidden;
}
.slideshow{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.slideshow__deco {
	position: absolute;
    background-color: #FFCD82;
    width: 25%;
    height: 70%;
    top: 50%;
    box-shadow:0px 4px 10px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(2px);
	border-radius: 30px;
    transform: translateY(-50%);
    transition: animation 2s ease;
}
.nav--prev{
    background-color: #FFCD82;
    border: none;
    position: absolute;
    left:2%;
    top: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    padding: 10px;
    transition: transform 1s ease;
}
.nav--next{
    background-color: #FFCD82;
    border: none;
    position: absolute;
    right:2%;
    top: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    padding: 10px;
    transition: transform 1s ease;
}
.nav--prev svg{
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
}
.nav--next svg{
    width: 30px;
    height: 30px;
    transform: rotate(135deg);
}
.slide{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 25%;
    padding-left: 20px;
    transform: translateX(-50%) translateY(20%);
    pointer-events: none;
    overflow: visible;
    display: flex;
    flex-direction: column;
    color: rgb(0,0,0,0.7);
    opacity: 0;
    transition: all 1s ease;
}
.slide__img{
    position: absolute;
    background-color:transparent;
    width: 50%;
    height: 100%;
    top: 50%;
	border-radius: 30px;
    transform: translateY(-50%);
    overflow: hidden;  
    opacity: 1;
    transition: all 2s ease;
}
.page2 .slide__img img{
    position: absolute;
    opacity: 0;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translateX(-48%) translateY(-70%);
    transition: all 0.5s ease;
}
.slide__img:hover img{
    width: 100%;
    transform: translateX(-50%) translateY(-80%);
}
.slide .show_slide{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    padding-left: 20px;
    transform: translateX(-50%) translateY(20%);
    pointer-events: none;
    overflow: visible;
    display: flex;
    flex-direction: column;
    color: rgb(0,0,0,0.7);
}
.slide__number{
    font-size: 30px;
    font-weight: 700;
    overflow: hidden;
}
.slide__title{
    font-size: 40px;
    font-family: 'lobster';
    overflow: hidden;
    height: 50px;
    min-width: 150%;
}
.slide__subtitle{
    font-size: 20px;
    font-weight: 200;
    width: 620px;
    color: black;
    transition: width 0.5s ease;
    overflow: hidden;
}
.click_anim{
    animation: jiggle 0.5s ease;
}
.show_slide{
    width: 25%;
    height: fit-content;
    opacity: 1;
    transition: all 0.2s ease;
    animation: text 1s ease;
}
.image_up_prev{
    animation: image_hide_prev 0.5s ease;
}
.image_down_prev{
    animation: image_show_prev 0.5s ease;
}
.image_up_next{
    animation: image_hide_next 0.5s ease;
}
.image_down_next{
    animation: image_show_next 0.5s ease;
}
.slideshow .expand__deco{
    position: absolute;
    background-color: #FFCD82;
    width: 100%;
    height: 200%;
    top:0%;
    box-shadow:0px;
    border-radius:0px;   
    transition: all 2s;
}
.page2 .content{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;
}
.item{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0%;
    right: 5%;
    overflow-x: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    opacity: 0;
}
.item .title{
    font-family: 'lobster';
    font-size: 40px;
    color: white;
    text-align: center;
    position: relative;
}
.item .desc{
    font-weight: 200;
}
.item .desc p{
    margin-top: 10px;
}
.page2 .content .buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.page2 .content .item .reserver,
.page2 .content .item .read_more{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45%;
    background-color: #ff9900;
    border: none;
    color: black;
    border-radius: 20px;
    text-align: center;
    pointer-events: all;
    transition: all 0.3s ease;
    border: 1px solid #ff9900;
}
.page2 .content .item .read_more{
    background-color: #ffffff;
    border: 1px solid #FF9900;
    color: #FF9900;
}
.page2 .content .item .reserver:hover{
    background-color: transparent;
    color: #ffffff;
}
.back{
    position: absolute;
    width: 30px;
    height: 30px;
    border: none;
    top: 50%;
    left: 0%;
    transform: translateX(-200%) translateY(-50%);
    background-color: transparent;
    pointer-events: all;
}
.back svg{
    fill: black;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
}
.back svg:hover{
    fill: red;
}
@keyframes text{
    0%{
        height: 0%;
    }
    100%{
        height: 35%;
    }
}
@keyframes jiggle {
    0%{
        transform: translateY(-50%) rotateZ(0deg);
    }    
    50%{
        transform: translateY(-55%) rotateZ(-10deg);
    }
    100%{
        transform: translateY(-50%) rotateZ(0deg);
   }}

@keyframes image_hide_prev {
    0%{
        pointer-events: none;
        transform: translateX(-48%) translateY(-70%);
        opacity: 1;
    }
    100%{
        pointer-events: none;
        transform: translateX(-100%) translateY(-220%);
        opacity: 0;
    }
}
@keyframes image_show_prev {
    0%{
        pointer-events: none;
        transform: translateX(148%) translateY(100%);
        opacity: 0;
    }
    100%{
        pointer-events: none;
        transform: translateX(-48%) translateY(-70%);
        opacity: 1;
    }
}
@keyframes image_hide_next {
    0%{
        pointer-events: none;
        transform: translateX(-48%) translateY(-70%);
        opacity: 1;
    }
    100%{
        pointer-events: none;
        transform: translateX(148%) translateY(100%);
        opacity: 0;
    }
}
@keyframes image_show_next {
    0%{
        pointer-events: none;
        transform: translateX(-100%) translateY(-220%);
        opacity: 0;
    }
    100%{
        pointer-events: none;
        transform: translateX(-48%) translateY(-70%);
        opacity: 1;
    }
}

/* reserve today*/
.page3{
    position: absolute;
    top: 200%;
    width: 100%;
    height: 90%;
    text-align: center;
}
.page3 .title{
    font-family: 'lobster';
    color: #FF9900;
    font-size: 40px;
    margin-top: 9%;
}
.page3 .subtext{
    font-size: 20px;
    font-weight: 200;
    margin-top: 15px;
}
.page3 .steps{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 8%;
    padding-bottom: 6%;
}
.page3 .steps .step1,
.page3 .steps .step2,
.page3 .steps .step3{
    display: flex;
}
.page3 .steps .step1 .number,
.page3 .steps .step2 .number,
.page3 .steps .step3 .number{
    color: #FF9900;
    font-size: 20px;
    margin: 10px;
}
.page3 .steps .step1 .text,
.page3 .steps .step2 .text,
.page3 .steps .step3 .text{
    width: 300px;
}
.page3 .steps .step1 .text .main,
.page3 .steps .step2 .text .main,
.page3 .steps .step3 .text .main{
    font-size: 18px;
    font-weight: 700;
}
.page3 .steps .step1 .text .explain,
.page3 .steps .step2 .text .explain,
.page3 .steps .step3 .text .explain{
    font-size: 15px;
    font-weight: 200;
}
.page3 .button button{
    width: 250px;
    background-color: white;
    border: none;
    border-radius: 20px;
    color: #FF9900;
    border:1px solid #FF9900;
    transition: all 0.3s ease;
}
.page3 .button button:hover{
    background-color: #FF9900;
    color: black;
}
/* footer */
.footer{
    position: absolute;
    top: 300%;
    width: 100%;
    height: 40%;
    overflow: hidden;
}
.footer .lower{
    position: relative;
    background-color: #1E1E1E;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.footer .lower .content{
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: center;
}
.footer .lower .content p{
    color: #ffffff;
    opacity: 60%;
    font-weight: 200;
}
.footer .lower .content .main{
    color: #ffffff;
    font-weight: 800;
    opacity: 100%;
}
.footer .lower .content .section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.footer .lower .content .section .social{
    text-align: center;
}
.footer .lower .content .section .social .media {
    display: flex;
    width: 130px;
    justify-content: space-between;
}
.footer .lower .content .section .social .media svg{
    width: 30px;
    margin-top: 10px;
    fill: #ffffff;
    opacity: 60%;
}
.footer .lower .content .section .contact{
    text-align: right;
}
.footer .lower .section .logo img{
    width: 70px;
}
.reserve{
    background-color: #FF9900;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 10%;
    right:4%;
    transition:all 0.3s ease;
}
.copyright{
    margin-left: 2%;
    transform: translateY(15%);
    color:#ffffff;
    opacity: 60%;
}
.reserve:hover{
    background-color: transparent;
    border:  1px solid #FF9900;
    color: #ff9900;
}
.footer .lower .content .section .social .media :hover{
    fill: #ffffff ;
    opacity: 1;
}
.footer .lower .content .explore p:hover{
    font-weight: 700;
    opacity: 0.8 ;
}
.sidemenu{
    width: 100%;
    height: 90%;
    top: 10%;
    position: fixed;
    background-color: #FF9900;
    z-index: 100;
    transform: translateX(100%);
}
.sidemenu .content{
    width: 100%;
    text-align: center;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.sidemenu .content .navlink {
    margin-top: 10px;
    margin-bottom: 10px;
}
.sidemenu .content .navlink a{
    font-size: 30px;
    color: #ffffff;
}
.sidemenu hr{
    border: 2px solid white;
}
.sidemenu .menufooter{
    height: 30%;
    overflow: hidden;
}
.sidemenu .stuff{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
.sidemenu .stuff svg{
    width: 25px;
}
.sidemenu .left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
}
.sidemenu .left .phone{
    height: 50%;
}
.sidemenu li{
    list-style: none;
}
.sidemenu .left .phone p{
    font-weight: 500;
    color: #ffffff;
}
.sidemenu .left .email{
    height: 40%;
}
.sidemenu .left .email p{
    font-weight: 500;
    color: #ffffff;
}
.sidemenu .right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.sidemenu .right .contact{
    height: 50%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 0%;
    padding-bottom: 0%;
}
.sidemenu .right .social{
    height: 40%;
    color: #ffffff;
    text-align: center;
}
.sidemenu .right .social .media{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sidemenu .right .social .media a svg{
    opacity: 60%;
}
@media screen and (max-width:1000px) {
    *{
        font-size: 16px;
    }
    .navbar{
        width: 100%;
    }
    .navbar .content{
        width: 10%;
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    .navbar .slider{
        width: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .navbar .slider svg{
        width: 30px;
        height: 30px;
        fill: #FF9900;
    }
    .page1 .image{
        height: 100%;
    }
    .page1 .image img{
        height: 100%;
        object-fit: cover;
    }
    .page1 .text{
        width: 90%;
    }
    .page1 button{
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }
    .slideshow__deco{
        width: 100%;
        height: 100%;
        border-radius: 0;
        animation: none;
    }
    .slide__img{
        width: 100%;
    }
    .page2 .slide__img img{
        width: 100%;
        height: 40%;
        object-fit: cover;
    }
    .show_slide{
        width: 100%;
    }
    .slide__subtitle{
        width: 100%;
    }
    .slide{
        top: 50%;
    }
    .nav--prev svg{
        transform: rotate(-90deg) ;
    }
    .nav--next svg{
        transform: rotate(90deg);
    }
    .item{
        width: 95%;
        margin-left: 5%;
        right: auto;
    }
    .back {
        top: 20%;
        left: 5%;
        transform: translateX(-200%) translateY(0%);
    }
    .page2 .content .item .reserver {
        width: 50%;
        padding: 10px;
    }
    .page3 .title{
        margin-top: 0%;
    }
    .page3 .steps{
        margin: 0%;
    }
    .page3 .steps .step1, .page3 .steps .step2, .page3 .steps .step3{
        margin: 21px;
    }
    .footer .lower .section .logo img{
        width: 40px;
        margin-right: 10px;
    }
    .footer .lower .content .section .social .media{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: auto;
    }
    .footer .lower .content .section .social .media svg{
        width: 20px;
    }
}