/* universal tag */
*{
    font-family: 'Poppins';
    font-size: 18px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* body tag */
body{
    display: inline;
}
/* navbar -> { logo-> img , content } 
    content -> { p , navright }
    navright -> { phone , contact}*/
.navbar{
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    overflow: hidden;
    background-color: #ffffff;
}
.navbar .Logo{
    width: 5%;
    margin-left: 10px;
}
.navbar .Logo img{
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.navbar .content{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-25%) translateY(-50%);
}
.navbar .content p{
    display: inline;
    margin-left: 20px;
}

/* image slider */
.page1{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
}
.images{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 400px;
    display: flex;
    overflow: hidden;
    flex-direction: row;
}
.allimgs{
    display: flex;
}
.images .image{
    min-width: 600px;
    min-height: 400px;
    display: flex;
    justify-content: center;

}
.images img{
    max-width: 600px;
    max-height: 400px;
    bottom: 0%;
}
.descs{
    position: absolute;
    width: 25%;
    bottom: 10%;
    right: 0%;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.descs .text{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5px;
}
.descs .text .title{
    font-weight: 700;
    font-size: 40px;
}
.descs .text .desc{
    margin-top: 10px;
    width: 100%;
    font-weight: 200;;
    float: right;
}

/* some of the recent projects */
.page2{
    position: absolute;
    top: 100%;
    height: 160%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page2 .title{
    font-size: 40px;
    color: #ff9900;
    font-family: 'lobster';
}
.page2 .project{
    margin: auto;
    width: 80%;
}
.page2 .project hr{
    border: 2px solid rgb(0, 0, 0, 0.6);
}
.page2 .project .content{
    margin-top: 10px;
    display: flex;
    position: relative;
}
.page2 .project .title{
    color: rgb(0, 0, 0, 0.6);
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'poppins';
}
.page2 .project .pg2_image{
    width: 60%;
    max-height: 340px;
    overflow: hidden;
}
.page2 .project .pg2_image img{
    width: 100%;
    max-height: 340px;
}
.page2 .project .text{
    width: 40%;
    padding: 10px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page2 .project .text .button{
    height: 10%;
    display: flex;
    width: 40%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.6);
    color: #ffffff;
    border-radius: 10px;
}
.page2 .project img{
    max-width: 100%;
}

/* project index */
.page3{
    position: absolute;
    top: 260%;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}
.page3 .upper{
    width: 100%;
    height: 70%;
}
.page3 .title{
    text-align: center;
    font-size: 40px;
    font-family: 'lobster';
    color: #ff9900;
    margin-bottom: 40px;
}
.page3 .projects{
    display: flex;
    width: 90%;
    height: 70%;
    margin: auto;
}
.page3 .p2018,
.page3 .p2019,
.page3 .p2020,
.page3 .p2021,
.page3 .p2022{
    text-align: center;
    width: 20%;
    height: 100%;
    border-left: 1px solid rgb(0, 0, 0, 0.6);
    border-right: 1px solid rgb(0, 0, 0, 0.6);
}
.page3 .p2018{
    border-left: 2px solid rgb(0, 0, 0, 0.6);
}
.page3 .p2022{
    border-right: 2px solid rgb(0, 0, 0, 0.6);
}
.page3 .p2018 span,
.page3 .p2019 span,
.page3 .p2020 span,
.page3 .p2021 span,
.page3 .p2022 span{
    font-size: 40px;
    font-weight: 700;
    color: rgb(0, 0, 0, 0.6);
}

.page3 .p2018 li,
.page3 .p2019 li,
.page3 .p2020 li,
.page3 .p2021 li,
.page3 .p2022 li{
    list-style: none;
}

.banner{
    width: 100%;
    height: 28%;
    background-color: #ff9900;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.banner .text{
    color: rgb(0, 0, 0, 0.6);
    margin-left: 35px;
    width: 45%;
}
.banner .text .main{
    font-size: 35px;
    font-family: 'lobster';
}
.banner .text .desc {
    font-weight: 200;
}
.banner .arrow svg path{
    fill: rgb(0, 0, 0, 0.6);
}
.banner .button{
    background-color: #ffffff;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 20px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
/* key clients */
.page4 {
    position: absolute;
    top: 360%;
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.key_client{
    box-shadow:0px 4px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    padding: 20px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 0px;
    width: 90%;
    text-align: center;
    border-radius: 20px;
    overflow: visible;
    height: 200px;
}
.key_client .title{
    font-family: 'lobster';
    font-size: 20px;
    color: #FF9900;
}
.key_client .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 200;
    margin-top: 10px;   
    width: 91%;
}
.key_client .cards .Clients .name{
    position: absolute;
    bottom: 0%;
    width: 100px;
}
.key_client .cards .Clients .logo{
    position: absolute;
    bottom: 20%;
}
.key_client .cards img{
    width: 100px;
}
/* footer */
.footer{
    position: absolute;
    top: 410%;
    width: 100%;
    height: 40%;
    overflow: hidden;
}
.footer .lower{
    position: relative;
    background-color: #1E1E1E;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.footer .lower .content{
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: center;
}
.footer .lower .content p{
    color: #ffffff;
    opacity: 60%;
    font-weight: 200;
}
.footer .lower .content .main{
    color: #ffffff;
    font-weight: 800;
    opacity: 100%;
}
.footer .lower .content .section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.footer .lower .content .section .social{
    text-align: center;
}
.footer .lower .content .section .social .media {
    display: flex;
    width: 130px;
    justify-content: space-between;
}
.footer .lower .content .section .social .media svg{
    width: 30px;
    margin-top: 10px;
    fill: #ffffff;
    opacity: 60%;
}
.footer .lower .content .section .contact{
    text-align: right;
}
.footer .lower .section .logo img{
    width: 70px;
}
.reserve{
    background-color: #FF9900;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 10%;
    right:4%
}
.copyright{
    margin-left: 2%;
    transform: translateY(15%);
    color:#ffffff;
    opacity: 60%;
}