/* universal tag */
*{
    font-family: 'Poppins';
    font-size: 18px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
a:visited{
    text-decoration: none;
}
/* reserve -> { left, right } 
   left ->{ navbar, form }
   navbar ->{ logo, content }
   form -> {title ,subtitle, form}
   right -> {blur, img} 
*/
.reserve{
    position: absolute;
    display: flex;
    width: 100%;
    overflow: hidden;
}
/* right section; image  */
.reserve .right .blur{
    position: absolute;
    right: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4)
}
.reserve .right {
    position: relative;
    width: 45%;
    height: fit-content;
    overflow: hidden;
    right: 0%;
}
.reserve .right img{
    width: 100%;
}
/* left section; navbar and form */
.reserve .left {
    width: 55%;
}
.reserve .left .navbar{
    position: fixed;
    width: 55%;
    height: 10%;
    z-index: 10;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.reserve .left .navbar .Logo{
    margin-left: 10px;
}
.reserve .left .navbar .Logo img{
    width: 50px;
}
.reserve .left .navbar .content{
    width: 100%;
}
.reserve .left .navbar .content p{
    display: inline;
    margin-left: 20px;
}
.reserve .left .navbar .content{
    display: flex;
}
.reserve .left .form{
    width: 100%;
    height: 90%;
    text-align: center;
    padding: 10%;
    margin-top: 10%;
    padding-bottom: 0%;
}
.navbar .content .navlink{
    transition: all 0.2s ease;
}
.navbar .content .navlink:hover{
    border-bottom: 2px solid #FF9900;
}
/* styles for each field of form  */
.field{
    height: 50px;
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
}
.field input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none; 
    padding-top: 20px;
}
.field select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none; 
    padding-top: 20px;
    transform: translateX(-4px);
}
.field label{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    text-align: left;
    border-bottom: 1px solid black;
}
.field label span span{
    color: #ff9900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;
}
.field label span{
    color: black;
}
.field label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #ff9900;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}
.field input:focus + .label-field .content-name, 
.field input:valid + .label-field .content-name{
    transform: translateY(-100%);
    font-size: 14px;
    color: #ff9900;
}
.field input:focus + .label-field::after, 
.field input:valid + .label-field::after {
    transform: translateX(0%);
}
.field select:focus + .label-field .content-name, 
.field select:valid + .label-field .content-name{
    transform: translateY(-100%);
    font-size: 14px;
    color: #ff9900;
}
.field select:focus + .label-field::after, 
.field select:valid + .label-field::after {
    transform: translateX(0%);
}
.radio{
    display: flex;
    margin-top: 40px;
}
.radio input{
    accent-color:#ff9900;
}
.radio label{
    font-size: 14px;
    margin-left: 10px;
    text-align: left;
}
.radio span{
    color: #ff9900;
}
.submit{
    background-color: #ff9900;
    border: none;
    width: 240px;
    height: 40px;
    font-family: 'lobster';
    font-size: 18;
    color: white;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #ff9900;
    transition: all 0.5s ease;
}
.submit:hover{
    background-color: transparent;
    color: #FF9900;
    border-radius: 0%;
}
/* heading and subheading */
.reserve .left .form .title{
    font-family: 'lobster';
    font-size: 28px;
}
.reserve .left .form .title span{
    font-family: 'lobster';
    color: #ff9900;
    font-size: 28px;
}
.sidemenu{
    width: 100%;
    height: 90%;
    top: 10%;
    position: fixed;
    background-color: #FF9900;
    z-index: 100;
    transform: translateX(100%);
}
.sidemenu .content{
    width: 100%;
    text-align: center;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.sidemenu .content .navlink {
    margin-top: 10px;
    margin-bottom: 10px;
}
.sidemenu .content .navlink a{
    font-size: 30px;
    color: #ffffff;
}
.sidemenu hr{
    border: 2px solid white;
}
.sidemenu .menufooter{
    height: 30%;
    overflow: hidden;
}
.sidemenu .stuff{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
.sidemenu .stuff svg{
    width: 25px;
}
.sidemenu .left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
}
.sidemenu .left .phone{
    height: 50%;
}
.sidemenu .left .phone p{
    font-weight: 500;
    color: #ffffff;
}
.sidemenu .left .email{
    height: 40%;
}
.sidemenu .left .email p{
    font-weight: 500;
    color: #ffffff;
}
.sidemenu .right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.sidemenu .right .contact{
    height: 50%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 0%;
    padding-bottom: 0%;
}
.sidemenu .right .social{
    height: 40%;
    color: #ffffff;
    text-align: center;
}
.sidemenu .right .social .media{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sidemenu .right .social .media a svg{
    opacity: 60%;
}
@media screen and (max-width:1000px) {
    *{
        font-size: 16px;
    }
    .navbar{
        width: 100%;
    }
    .navbar .content{
        width: 10%;
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    .navbar .slider{
        width: 50px;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .navbar .slider svg{
        width: 30px;
        height: 30px;
        fill: #FF9900;
    }
    .reserve .right{
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    .reserve .left .navbar{
        width: 100%;
        justify-content: space-between;
    }
    .reserve .left{
        width: 100%;
    }
    .reserve .left .form{
        padding: 10px;
        padding-top: 10%;
    }
}