/* universal tag */
*{
    font-family: 'Poppins';
    font-size: 18px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* body tag */
body{
    display: inline;
}
a{
    text-decoration: none;
    color: inherit;
}
a:visited{
    text-decoration: none;
}
/* navbar -> { logo-> img , content } 
    content -> { p , navright }
    navright -> { phone , contact}*/
.navbar{
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    overflow: hidden;
    background-color: #ffffff;
}
.navbar .Logo{
    width: 5%;
    margin-left: 10px;
}
.navbar .Logo img{
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.navbar .content{
    position: absolute;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.navbar .content .navlink{
    transition: all 0.2s ease;
}
.navbar .content .navlink:hover{
    border-bottom: 2px solid #FF9900;
}
.navbar .content .navlink:hover p{
    transform: translateY(-20px);
}
.navbar .content p{
    display: inline;
    margin-left: 20px;
}

/*  */
.main{
    position: absolute;
    width: 100%;
    top: 10%;
}
.main .title{
    text-align: center;
    font-size: 40px;
    font-family: 'lobster';
    color: #FF9900;
}
.main .desc{
    text-align: center;
    width: 80%;
    margin: auto;
}
.main .members{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-evenly;
}
.main .members .card{
    width: 300px;
}
.main .members .card .image img{
    width: 300px;
    object-fit: cover;
}
.main .members .card .name,
.main .members .card .role{
    text-align: center;
}

.main .members .card .socials{
    display: flex;
    justify-content: space-evenly;
}
.main .members .card .socials svg{
    width: 30px;
    height: 30px;
    fill-opacity: 60%;
}
.main .members .card .socials svg:hover{
    fill-opacity: 1;
}