/* universal tag */
*{
    font-family: 'Poppins';
    font-size: 18px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* reserve -> { left, right } 
   left ->{ navbar, form }
   navbar ->{ logo, content }
   form -> {title ,subtitle, form}
   right -> {blur, img} 
*/
.reserve{
    position: absolute;
    display: flex;
    width: 100%;
    overflow: hidden;
}
/* right section; image  */
.reserve .right .blur{
    position: fixed;
    width: 45%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4)
}
.reserve .right {
    width: 45%;
    overflow: hidden;
    position: fixed;
    right: 0%;
}
.reserve .right img{
    width: 100%;
}
/* left section; navbar and form */
.reserve .left {
    width: 55%;
}
.reserve .left .navbar{
    position: fixed;
    width: 55%;
    height: 10%;
    z-index: 10;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.reserve .left .navbar .Logo{
    margin-left: 10px;
}
.reserve .left .navbar .Logo img{
    width: 50px;
}
.reserve .left .navbar .content{
    width: 100%;
}
.reserve .left .navbar .content p{
    display: inline;
    margin-left: 20px;
}
.reserve .left .navbar .content{
    display: flex;
}
.reserve .left .form{
    width: 100%;
    height: 90%;
    text-align: center;
    padding: 10%;
    margin-top: 10%;
    padding-bottom: 0%;
}
/* styles for each field of form */
.field{
    height: 50px;
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
}
.field input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none; 
    padding-top: 20px;
}
.field select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none; 
    padding-top: 20px;
    transform: translateX(-4px);
}
.field label{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    text-align: left;
    border-bottom: 1px solid black;
}
.field label span span{
    color: #ff9900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;
}
.field label span{
    color: black;
}
.field label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #ff9900;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}
.field input:focus + .label-field .content-name, 
.field input:valid + .label-field .content-name{
    transform: translateY(-100%);
    font-size: 14px;
    color: #ff9900;
}
.field input:focus + .label-field::after, 
.field input:valid + .label-field::after {
    transform: translateX(0%);
}
.field select:focus + .label-field .content-name, 
.field select:valid + .label-field .content-name{
    transform: translateY(-100%);
    font-size: 14px;
    color: #ff9900;
}
.field select:focus + .label-field::after, 
.field select:valid + .label-field::after {
    transform: translateX(0%);
}
.radio{
    display: flex;
    margin-top: 40px;
}
.radio input{
    accent-color:#ff9900;
}
.radio label{
    font-size: 14px;
    margin-left: 10px;
    text-align: left;
}
.radio span{
    color: #ff9900;
}
input[type=button]{
    background-color: #ff9900;
    border: none;
    width: 240px;
    height: 40px;
    font-family: 'lobster';
    font-size: 18;
    color: white;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;

}
/* heading and subheading */
.reserve .left .form .title{
    font-family: 'lobster';
    font-size: 28px;
}
.reserve .left .form .title span{
    font-family: 'lobster';
    color: #ff9900;
    font-size: 28px;
}